*.pyc
*.log
*.swo
*.swp
*.egg*
build/
result/
components/dependencies/gcc/centOS/7.2/SOURCES/cloog-0.18.0.tar.gz
components/dependencies/gcc/centOS/7.2/SOURCES/fastjar-0.97.tar.gz
components/dependencies/gcc/centOS/7.2/SOURCES/isl-0.11.1.tar.bz2

